.np-tabs{
    margin:8px 0 ;
    display:flex;
    justify-content: space-between;
}
.tab-link {
    cursor: pointer;
    padding: 8px 12px;
    width: 100%;
    margin: 0 5px 0 0;
    background: #efefef;
}
.tab-link:last-child{
    margin-right: 0;
}
.tab-link.current{
    background: #0A246A;
    color: #ffffff;
}
.tb-content{
    display: none;
}
.tb-content.active{
    display: block;
}
.np-radio-widget {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* IMAGE STYLES */
.np-radio-widget + img {

    cursor:pointer  !important;
    border:2px solid transparent !important;
}

/* CHECKED STYLES */
.np-radio-widget:checked + img {
    border:3px solid #0073AA  !important;
}